@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nerko+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

.m-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-content{
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(117, 130, 112, 0.78);
    width: 360px;
    gap: 10px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.card h2{
    font-size: 2.4rem;
    font-weight: lighter;
    text-align: center;
    color: rgb(44, 68, 138);
}
.card p{
    font-size: 1.25rem;
}
#cantidad-productos{
    font-size: 1.25rem;
}

.btn{
    border-radius: 15px;
    background-color: rgb(44, 6, 91);
    color: white;
    width: 80%;
    align-self: center;
    font-size: 1.25rem;
    font-weight: bolder;
}
.btn:hover{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
}

#total-producto{
    font-size: 1.25rem;
    font-weight: bolder;
    text-decoration: underline;
}

.container-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    padding: 10px;
    background-color: #162a79;
    gap: 10px;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.container-total h2{
    /*color: rgb(6, 6, 195);*/
    color: rgba(159, 171, 189, 0.84);
    font-size: 2rem;
}

.contenedor-oculto{
    display: none;
    font-weight: bolder;
    font-size: 1.25rem;
    color: white;
}
.contenedor-oculto button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
i{
    color: silver;
}